<mat-tab-group class="tab">
  <mat-tab label="PRÓXIMAS" fxLayout="row wrap">
   <mat-progress-bar *ngIf="!next" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="next" fxLayout="row wrap" class="container">
      <div class= "ng-content" *ngFor="let live of livesNext"
        fxFlex="0 1 calc(33% - 11px)"
        fxFlex.lt-md="0 1 calc(50% - 11px)"
        fxFlex.lt-sm="100%">
        <div class="grid-item">
          <div class="card-title" fxLayout="row">
            <span class="card-name" fxFlex="85" fxLayoutAlign="start center">{{live.liveName}}</span>
            <span fxFlex></span>
            <span fxFlex="8" fxLayoutAlign="center center"><button mat-icon-button class="icon" (click)="onDelete(live.id)" aria-label="Excluir"><mat-icon>delete</mat-icon></button></span>
          </div>    
          <div class="card-title" fxLayout="column">
                <span class="card-channel"fxLayoutAlign="start center">Canal: {{live.channelName}}</span> 
                <span class="card-date" fxLayoutAlign="start center">Data da Live: {{live.liveDate | localDateTime}}</span>    
          </div>
          <div class="card-content" fxLayoutAlign="center center">
            <div>
              <iframe [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="REALIZADAS" fxLayout="row wrap" class="tab">
   <mat-progress-bar *ngIf="!previous" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="previous" fxLayout="row wrap" class="container">
      <div *ngFor="let live of livesPrevious" style="margin: 0.5%;"
        fxFlex="0 1 calc(33% - 11px)"
        fxFlex.lt-md="0 1 calc(50% - 11px)"
        fxFlex.lt-sm="100%">
        <div class="grid-item">
          <div class="card-title" fxLayout="row">
            <span class="card-name" fxFlex="85" fxLayoutAlign="start center">{{live.liveName}}</span>
            <span fxFlex></span>
            <span fxFlex="8" fxLayoutAlign="center center"><button mat-icon-button class="icon" (click)="onDelete(live.id)" aria-label="Excluir"><mat-icon>delete</mat-icon></button></span>
          </div>    
          <div class="card-title" fxLayout="column">
                <span class="card-channel"fxLayoutAlign="start center">Canal: {{live.channelName}}</span> 
                <span class="card-date" fxLayoutAlign="start center">Data da Live: {{live.liveDate | localDateTime}}</span>    
          </div>
          <div class="card-content" fxLayoutAlign="center center">
            <div>
              <iframe [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>